@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap');

body{
    background-color: #23272a;
}
* {
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;

}
li{
    list-style: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}
footer{
    justify-items: center;
    align-items: center;
}
.fixed {
    position: fixed;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #B9BBBE; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #B9BBBE; 
}