.content{
    background-color: #32353B;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-height: 200px;
}

.backGrund{
    color: #FFF;
    display: flex;
    transform-origin: 0 0;
    flex-direction: column;
    transition: transform .3s linear;
}

.backImg path {
    animation: back 3s infinite alternate;
}
@keyframes back {
    0% {
        d: path("m 0,10 c 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 V 0 H 0 Z");
    }
    0%{
        d: path("m 0,10 c 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 V 0 H 0 Z");
    }
}