.loading-text {
    font-weight: 900;
    display: block;
}
.loading-text  span {
    margin-left: 5px;
    display: inline-block;
}
@keyframes loadingPointsAnim {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translateY(-20%);
    }
}