body{
    background-color: #23272a;
    padding: 0px;
    margin: 0px;
}
.backImg path {
    animation: back 3s infinite alternate;
}

.content {
    color: #fff;
    min-height: 90%;
    background-color: #2c2f33;
    display: flex;
}

footer{
    display: flex;
    flex-direction: column;
}

@keyframes back {
    0% {
        d: path("m 0,10 c 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 V 0 H 0 Z");
    }
    0%{
        d: path("m 0,10 c 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 V 0 H 0 Z");
    }
}