.Banner{
    display: grid;
    min-height: 90vh;
    grid-template-columns: 2fr 1.75fr;
    margin: 30px;
    justify-items: center;
    align-items: center;
}
.Banner > .embed {
    width: 70%;
    min-height: 200px;
}
.banner-embed-conent > p{
    margin: 5vh 0;
    font-weight: 400;
}
.banner-image-profile{
    height: 15em;
    width: 15em;
    margin-right: 2vh;
    border-radius: 50%;
    transition: transform .2s;
    animation: jumpInRight .75s 1;
}
.banner-big-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  overflow: hidden;
}
.banner-buttons > * {
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  text-align: center;
  line-height: 3;
  box-sizing: border-box;
  font-size: medium;
  font-weight: bold;
  min-height: 50px;
  margin: 20px;
  aspect-ratio: 21/5;
  border-radius: 100vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
a.banner-button-blue {
  background-color: #5865f2;
  color: #fff;
}
a.banner-button-white{
  background-color: #fff;
  color: #000;
}

.banner-buttons a:hover {
  transform: translateY(1px);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}
a.banner-button-blue:hover{
  background-color: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%);
}
a.banner-button-white:hover{
  color: #5865f2;
}
.banner-zoom-btn:hover{
    transform: scale(1.1) rotate(.02turn);
}
@keyframes jumpInRight {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate(90deg);
      transform: scale3d(0.5, 0.5, 0.5) rotate(90deg); 
    }
    50% {
      opacity: 1;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
      transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg); 
    }
    70% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(5deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate(5deg); 
    }
    90% {
      -webkit-transform: scale3d(1, 1, 1) rotate(0deg);
      transform: scale3d(1, 1, 1) rotate(0deg); 
    } 
}