.foot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.networks{
    display: flex;
    justify-content: baseline;
}
.footlinks > li {
    margin: 5px;
    font-size: large;
}

.footBtn {
    font-weight: 700;
    margin: 15px;
    color: #62656B;
}
.footBtn > svg > path {
    fill: #62656B
}
.footBtn:hover > svg > path {
    fill: #B9BBBE
}
.footBtn:hover {
    color: #B9BBBE;
}