.userm-container {
    min-height: calc(90vh - 80px);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    justify-content: space-around;
    gap: 50px;
    padding: 40px 70px;
    justify-items: center;
}

.userm-avatar {
    aspect-ratio: 1/1;
    border-radius: 100%;
    height: 40vh;
    gap: 15px;
}

.userm-profile-image-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userm-profile-image-cont span {
    color: #b9bbbe;
}

.userm-options-cont {
    padding-right: 25px;
    margin-bottom: 25px;
    display: flex;
    min-height: 10vh;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.userm-options-cont * {
    font-size: large;
    padding: 5px 15px;
    border-radius: 0.8vh;
    color: #57f288;
    text-align: center;
    font-weight: 700;
    min-width: 9em;
    background-color: transparent;
    border: 3px solid;
}

.userm-options-cont *:hover {
    color: #a8ecbc;
    transform: translateY(1px);
}
