nav {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
    font-weight: 900;
    color: #fff;
}
.nav-logo > img {
    border-radius: 50%;
    height: 7vh;
    margin-right: 10px;
}
.nav-link-selected {
    background-color: #62656B;
    padding: 5px 15px;
    border-radius: 100vw;
}
.nav-links {
    margin-right: 20px;
}
.nav-links * {
    margin: 0 10px;
    color: #fff;
    font-weight: 500;
    padding: 10px 15px;
}

.nav-session-btn{
    outline: none;
    border: none;
    background-color: #5865f2;
    /* padding: 9px 17px; */
    border-radius: 100vh;
}

.nav-session-btn:hover {
    background-color: #7983F5;
}