@font-face {
    font-family: "Mplus-1m bold";
    src: url('../public/fonts/mplus-1m-bold.ttf');
}

body{
    background-color: #23272a;
    font-weight: bold;
    font-family: "Mplus-1m bold";
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}
footer{
    justify-items: center;
    align-items: center;
}
#root {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}
.content{
    min-height: 90vh;
    background-color: #2c2f33;
}
.backImg path {
    animation: back 3s infinite alternate;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.footBtn {
    margin: 15px;
    color: #131618;
}
.footBtn > svg > path {
    fill: #131618
}
.footBtn:hover > svg > path {
    fill: #99AAB5
}
.footBtn:hover {
    color: #99AAB5;
}

@keyframes back {
    0% {
        d: path("m 0,10 c 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 V 0 H 0 Z");
    }
    0%{
        d: path("m 0,10 c 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 25,3 50,3 75,0 25,-3 50,-3 75,0 V 0 H 0 Z");
    }
}