.servers-menu-title {
    font-size: 3em;
    overflow: visible;
    height: min-content;
    font-weight: bold;
    padding: 0 .5em .5em 0;
    margin: 25px 0 0 0;
    background: linear-gradient(#23272A, #23272A) no-repeat;
    background-position: .4em .7em;
    background-size: 4.5em 1.5em;
    background-clip: border-box;
}

.servers-menu-cont {
    display: grid;
    gap: 20px;
    margin: 50px 0 50px 0;
    max-width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(27em, 1fr));
}

.servers-menu {
    gap: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}